{% extends 'base.html.twig' %}

{% block title %}{{ 'title.projects'|trans }}{% endblock %}

{% block body %}
    <div class="bg-gray-100 text-gray-900 tracking-wider leading-normal min-h-[calc(100vh-60px)]">
        <div class="container w-full flex flex-wrap mx-auto px-2 lg:pt-12">
            <div class="w-full lg:w-1/5 text-xl text-gray-800 leading-normal">
                <p class="text-base font-bold py-2 lg:pb-6 text-gray-700">Projets</p>
                <div class="w-full sticky inset-0 max-h-64 lg:h-auto overflow-x-hidden overflow-y-auto lg:overflow-y-hidden block mt-0 my-2 lg:my-0 bg-white lg:bg-transparent z-20">
                    <ul class="list-reset py-2 md:py-0">
                        {% for item in projects %}
                            <li class="py-1 md:my-2 hover:bg-blue-100 lg:hover:bg-transparent border-l-4 border-transparent font-bold {{ item.id == project.id ? 'border-l-blue-600' : '' }}">
                                <a href='{{ path('app_project_view', { id: item.id }) }}' class="block pl-4 align-middle {{ item.id == project.id ? 'text-blue-600' : '' }}">
                                    <span class="pb-1 md:pb-0 text-sm">{{ item.name }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <section class="w-full lg:w-4/5">
                <div class="flex items-center gap-4 font-bold break-normal text-gray-700 text-xl mt-12 mb-8 lg:mt-0 md:text-2xl">
                    {% set filePath = 'img/projects/' ~ project.thumbnailName %}
                    <img src="{{ asset(filePath) }}" alt="{{ project.thumbnailName }}" class="max-w-32 max-h-16 w-auto h-auto">
                    <h1>{{ project.name }}</h1>
                </div>
                <div class="w-full py-3 px-1">
                    <div class="mb-6">
                        <h3 class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4">{{ 'project.category'|trans }}</h3>
                        <p>{{ project.category.name }}</p>
                    </div>
                    <div class="mb-6">
                        <h3 class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4">{{ 'project.description'|trans }}</h3>
                        <p>{{ project.description|sanitize_html }}</p>
                    </div>
                    {% if project.link %}
                        <div class="mb-6">
                            <h3 class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4">{{ 'project.link'|trans }}</h3>
                            <a href="{{ project.link }}" class="underline">{{ project.link }}</a>
                        </div>
                    {% endif %}
                    <div class="mb-6">
                        <h3 class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4">{{ 'project.start_date'|trans }}</h3>
                        <p>{{ project.startDate|date('d/m/Y') }}</p>
                    </div>
                    <div class="mb-6">
                        <h3 class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4">{{ 'project.end_date'|trans }}</h3>
                        <p>{{ project.endDate|date('d/m/Y') }}</p>
                    </div>
                </div>
            </section>
            <div class="w-full lg:w-4/5 lg:ml-auto text-base md:text-sm text-gray-600 py-4">
                <a href="{{ path('app_project_index') }}" class="text-base md:text-lg text-blue-600 font-bold hover:underline"><span class="text-base text-blue-600 font-bold">&lt;</span> Retour</a>
            </div>
        </div>
    </div>
{% endblock %}
